<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>



    <application
        android:name=".A"
        android:allowBackup="true"
        android:label="Too Cool For School. BETA V.0.91"
        android:supportsRtl="true"
        android:theme="@style/SortBaggrund"
		android:icon="@drawable/cool_nobkgr_71x71">

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Forside_akt">
        </activity>

        <receiver
            android:name=".Alarm_Lytter">
            <intent-filter>
                <action android:name="com.example.cool.START_ALARM" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".Boot_Lytter"
            android:label="BootModtag"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SletNotifikation_Lytter" />

    </application>

</manifest>
