<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".A"
        android:allowBackup="true"
        android:icon="@drawable/cool_nobkgr_71x71"
        android:label="Too Cool For School. BETA 0.8"
        android:supportsRtl="true"
        android:theme="@style/SortBaggrund">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Forside_akt"></activity>

        <receiver android:name=".Alarm_Lytter">
            <intent-filter>
                <action android:name="com.example.cool.START_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Boot_Lytter"
            android:enabled="true"
            android:label="BootModtag">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SletNotifikation_Lytter" />

        <activity android:name=".Kontakt"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a473bb17c446dada4b78b47051b2b561970908f7" />
    </application>

</manifest>